.nut-tabs__titles {
    background: transparent;
}

.nut-input {
    background-color: transparent;
}

.nut-tabpane {
    background: transparent;
}

.nut-tabs__titles-item {
    font-size: 16px;
    color: #ffffff;
}

.nut-tabs__titles-item.active {
    font-size: 16px;
    color: #ffffff;
}

.label-input {
    color: #ffffff;
}

page {
    background: linear-gradient(#346afc 40%,#ffffff, #835afe);
}

// .dialog-content {
//     background-color: red;
// }

.home {
    position: relative;
    height: 100vh;
    // background-image: url('https://www.pgjgyh.cn/prod-api/profile/system/bk.png');
    background-image: url('../../assets/images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &-nav {
        width: 100%;
        text-align: center;

        &-title {
            color: #ffffff;
            font-size: 18px;
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 335px;
        height: 335px;
        border-radius: 50%;
        // background-image: url('https://www.pgjgyh.cn/prod-api/profile/system/zp.png');
        background-image: url('../../assets/images/yaohao-round.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &-empty {
        color: #ffffff;
        font-size: 16px;
        text-align: center;
    }

    &-btn {
        width: 300px;
        margin-left: 37.5px;
        position: absolute;
        top: 69%;
    }

    &-result {
        width: 375px;
        position: absolute;
        top: 75%;

        &-title {
            font-size: 16px;
            text-align: left;
            color: #666666;
            margin-left: 20px;
            width: 335px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-content {
            text-align: center;

            &-item {
                margin: 10px 20px;
                display: flex;
                align-items: center;

                .round {
                    width: 20px;
                    height: 20px;
                    background-color: #ff4e2c;
                    color: #ffffff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 20px;
                    font-size: 16px;
                }

                .text {
                    padding-left: 20px;
                    flex: 1;
                    text-align: left;
                    color: #333333;
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    &-record {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
}